:root {
    --header-color: var(--theme-color2);
    --header-text-wrapper-background-color: var(--theme-color4);
}

.app-header {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(12px + 2vmin);
    background-color: var(--header-background-color);
    background-image: var(--header-background);
    background-repeat: no-repeat;
    background-size: cover;
    /*60% because of navbar offset*/
    background-position: 0 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

@media (max-width: 800px) {
    .app-header {
        min-height: 580px;
        /*Header background goes into navbar and too far to the side without this*/
        background-position: 60% 13vh;
    }
}

.community-message-card {
    background-image: url(../../assets/cards/card2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 50%;

    background-color: #fd438c;
    color: #fff;
    font-size: 25px;
}

@media (max-height: 800px) {
    /*Handle mobile layouts since everything is freaking tiny*/
    .community-message-card {
        margin-top: 12vh;
    }
}

@media (max-width: 900px) {
    .community-message-card {
        width: 90%;
    }
}

@media (min-width: 900px) {
    .community-message-card {
        position: relative;
        left: -20vw;
    }
}

.community-message-header {
    padding-top: 14%;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}

.community-message-body {
    padding: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.app-birthday-header {
    background-image: url(https://cdn.discordapp.com/attachments/745063266694201444/770662475015651338/HB_Aloe.png) !important;
    height: calc(100vh - 40px);  /* full screen - navbar height - bottom anchor thingy*/
    background-size: 100%;
    background-color: #ffffff;
    background-position: center center;
}

#manotomo1 {
    position: absolute;
    width: 400px;
    left: 10px;
    bottom: 50px;
    z-index: 0;
}

#manotomo2 {
    position: absolute;
    width: 200px;
    right: 10px;
    bottom: 50px;
    z-index: 0;
}

.birthday-card {
    z-index: 2;
    animation: fadeIn 4s;
    max-width: 500px;
    position: relative;
    left: 0px;
}

.bday-msg-container {
    height: 100%;
    background-color: #fd418d;
}
