.project-card {
    display: flex;
    font-family: var(--theme-font);
    text-shadow: var(--theme-text-shadow);
}

.project-separator {
}

.project-separator-header {
    text-align: center;
    text-shadow: var(--theme-text-shadow);
    font-family: var(--theme-font);
}

.project-card-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css is pain. These aren't props for the project cards, 
 * but rather for the left and right classes inside a projcard */

.project-card .left, .project-card .right {
    flex: 1 1;
    color: var(--project-card-foreground-color);
    background-color: var(--project-card-background-color);
}

.project-card-thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.project-card-description-sign {
    margin-right: 1rem;
    text-align: right;
}

.project-card-content {
    width: 100%;
    border-radius: 15px;
    transition: box-shadow 0.5s ease;
}

.project-card-thumbnail {
    height: auto;
}

.project-card-thumbnail:hover {
    box-shadow: 0px 0px 5px white;
}

.project-card-description {
    padding: 1rem;
}

.project-card-description-container {
    white-space: pre-wrap;
    /* Allow line breaks */
    padding: 1rem;
}

.project-card-description-container .project-username {
    text-align: right;
}

.project-card-section {}

/* desktop specific rules */
@media (min-width: 800px) {
    .project-card {
        flex-direction: row;
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 1.6rem;
    }

    .project-card-video {
        min-height: 40vh;
        height: 100%;
    }
}

/* mobile specific rules */
@media (max-width: 800px) {
    .project-card {
        flex-direction: column-reverse;
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 1.2rem;
    }
    .project-separator {
        min-height: 10vh;
    }

    .project-card-video {
        height: 50vw;
    }
}
