:root {
    --single-anchor-background-color: #ffffff;
    --anchor-text-color: white;
}

.anchor-section {
    position: fixed;
    background-color: transparent;
    z-index: 0;
    margin: 5px;
    margin-right: 0px;
    top: 50%;
    transition: all 0.4s ease;
}

.single {
    opacity: .5;
    margin: 2vh 2vw;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: var(--single-anchor-background-color);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.single:hover {
    opacity: 1;
}

.standalone .anchor-button {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    font-family: var(--theme-font);
    text-shadow: var(--theme-text-shadow);
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .standalone .anchor-button {
        font-size: 1rem;
    }
}

.anchor-button p {
    opacity: 0;
    margin: 0;
    margin-top: -20px;
    transition: all 0.4s ease;
    margin-bottom: 2px;
    text-align: center;
}

.anchor-button a {
    text-decoration: none;
    color: var(--anchor-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active>.anchor-button {
    opacity: 1;
}

.anchor-button:hover p, .active>.anchor-button p {
    opacity: 1;
    margin-top: -3px;
}

.top {
    top: 0;
}

.bottom {
    top: unset;
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
