.home-root {
    background-image:
        /* images are layered based on the order they are put in here.
         * footer must go first or it will be covered by tiles */
        url(../../assets/backgrounds/Background-Footer-by-Mr-Cres.png),
        url(../../assets/backgrounds/Background-Tile.png);
    background-repeat: no-repeat, repeat-y;
    background-size: 100% auto, 100% auto;
    background-position: bottom, 0px 0px;
    min-height: 100vh;

    display: flex;
    justify-content: center; 
    color: var(--theme-color-white);
}

.home-header {
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 2rem;
    text-align: center;
    font-family: var(--theme-font);
    text-shadow: 0px 0px 3px white;
    height: 100vh;
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

@media (max-width: 800px) {
    .home-header {
        font-size: 1rem;
    }
}

.home-header .anchorbotan {
    margin-top: 50px;
}

.home-header > .home-header-text {
    font-family: 'Indie Flower';
}

.wrapper-overlay {
    padding: 2vh 4vw;
}

.main-video-container {
    width: 100%;
    box-sizing: border-box;
    height: 75vh;
    max-height: 768px;
}

@media (max-width: 900px) {
    .main-video-container {
        height: 50vh;
    }
}

.video-tag {
    float: left;
}

@media (min-width: 768px) {
    .main-message .card-header {
        background-image: url(../../assets/cards/AKUKIN_Card_Header_Base_12.png);
    }
}

@media (min-width: 1440px) {
    .main-message .card-header {
        background-image: url(../../assets/cards/AKUKIN_Card_Header_Base_14.png);
    }
}
