/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Charmonman&family=Indie+Flower&display=swap');

/* css */
:root {
    --theme-color1: #000000; /*root background*/
    --theme-color2: #f05872; /*used for card text*/
    --theme-color3: #fff0e3; /*card bg color and anchor link color*/
    --theme-color4: #ffffff; /*Anchor link color*/

    --theme-color-black: #000;
    --theme-color-white: #fff;

    --theme-card-text1: #ffffff;
    --theme-card-text2: #000000;
    --theme-card-background: #ffffff;
    --theme-card-header-background: #ffffff;

    --theme-special-text: #f0f0f0;
    --theme-special-background: #724683;
    --theme-special-background-alt: #fd418d;

    --main-background: url(assets/backgrounds/content_bg_tile.svg);
    --main-background-color: #ffffff;

    --header-background: url(assets/backgrounds/header_background.png);
    --header-background-color: #333031;

    --separator-background-color: #fd418d;

    --card-font-size: 1.6rem;
    --credits-font-size: 1.2rem;

    --theme-font: "Indie Flower", "Charmonman";
    --theme-text-shadow: 0px 0px 3px white;

}

#root {
    /*
     * Keeps the background image
     * from getting cut off at stupid
     * low horizontal resolutions
     */
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Lato', 'Sawarabi Gothic', 'Cairo', 'Prompt', 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: #fd438c;
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 255, 255, 0);

    transition: all 0.1s ease;
}

a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}
