.fade-in {
    -webkit-animation-name: fadein-up;
    animation-name: fadein-up;
    -webkit-animation-duration: 0s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadein-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(200px);
        -o-transform: translateY(200px);
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.fade-in-expand {
    width: 100%;
    /* Make sure fade-in doesn't 
     * expand past the viewport width 
     * on webkit */
    max-width: 100vw;
}
