.fade-in {
    -webkit-animation-name: fadein-up;
    animation-name: fadein-up;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    overflow: hidden;
}

@keyframes fadein-up {
    0% {
        opacity: 0;
        margin-top: 50vh;
        margin-bottom: -50vh;
    }
    100% {
        opacity: 1;
        margin-top: unset;
        margin-bottom: unset;
    }
}

.fade-in-expand {
    width: 100%;
}
